.product-card{
    height: 20rem;
    width: 15rem;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(170, 170, 170, 0.705);
}
.product-img{
    height: 80%;
}
.product-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.product-btn{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-btn button {
    border: none;
    outline: none;
    background: #f39c12;
    color: black;
    border-radius: 15px;
    padding: 4px 8px;
}

